// Fonts
$mainFont: Arial, sans-serif;

// Colors
$backgroundColor: #f0f1f5;
$primaryColor: #000000;
$secondaryColor: #7C7C7C;

// border radius
$defaultRadius: 8px;
$smallRadius: 4px;

// Animations
$animTime: .35s;

// screenSize
$desktopWidth: 1940px;
$smDesktopWidth: 1440px;
$tableWidth: 1024px;
$smTableWidth: 960px;
$phoneWidth: 640px;
$smPhoneWidth: 480px;

